// Variables
// Color Values
$Dark-cyan: rgb(60, 128, 103);
$Cream: rgb(242, 235, 227);
$Very-dark-blue: rgb(28, 35, 43);
$Dark-grayish-blue: rgb(108, 114, 137);
$White: rgb(255, 255, 255);

// Size Units
// $site-width: 1280px;
$site-width: 1280vw;
// $site-height: 800px;
$site-height: 90vh;
$Mobile-width: 375px;
// $Mobile-width: 375vw;
// $Desktop-width: 1440px;
$Desktop-width: 1440vw;
